.formContainer {
  width: 400px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 40px 0;
  /* cursor: pointer; */
}

.formHeading {
  font-size: 30px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(50, 65, 215, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
}

.input {
  border: none;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
      to right,
      rgba(50, 65, 215, 1),
      rgba(0, 212, 255, 1) 100%
    )
    2;
  outline: none;
  padding: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.input::placeholder {
  color: lightgray;
  font-size: 18px;
}

.formButton {
  background: -webkit-linear-gradient(
    90deg,
    rgba(50, 65, 215, 1) 16%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 5px;
  color: white;
  border: none;
  transform: translateY(-2px);
  width: 100px;
  height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 8px 9px 1px rgba(50, 65, 215, 0.45);
  cursor: pointer;
}

.formButton:active {
  transform: translateY(0px);
  box-shadow: 0px 3px 3px 0px rgba(50, 65, 215, 0.45);
}
