.formContainer {
  width: 400px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin: 40px 0;
}

.formHeading {
  font-size: 30px;
  background: #628ebe;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
}

.input::placeholder {
  color: lightgray;
  font-size: 18px;
}

.formButton {
  background: #4377af;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.formButton:active {
  transform: translateY(0px);
  box-shadow: 0px 3px 3px 0px rgba(50, 65, 215, 0.45);
}
